<style>
    body {
        background-color: #02867b;
    }

    .table {
        background-color: white;
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 0;
        right: 0;
        box-shadow: rgba(0, 0, 0, .3) 0px 0px 35px;
    }

    .form {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @@media screen and (min-width: 1281px) {
        .table {
            width: 50%;
            height: 50%;
            min-height: 400px;
        }
    }

    @@media screen and (max-width: 1280px) and (min-width:651px) {
        .table {
            width: 60%;
            height: 50%;
            min-height: 400px;
        }
    }

    @@media screen and (max-width: 650px) {
        .table {
            width: 80%;
            height: 90%;
            min-height: 650px;
            position: relative !important;
        }
    }

    @@media screen and (max-height: 450px) {
        .table {
            position: relative !important;
        }
    }

    .roundedcorner {
        background: #fff;
        font-family: Modern;
        font-size: calc(16px + 6 * ((100vw - 320px) / 9000));
        margin-left: auto;
        margin-right: auto;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 3px;
        border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        border-right: 1px solid #404040;
        border-bottom: 1px solid #404040;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        text-align: center;
        min-width: 15vw;
        min-height: 3vh;
    }

    .btn {
        -moz-border-radius: 12px !important;
        -webkit-border-radius: 12px !important;
        background-color: #03786e !important;
        color: white !important;
        transition: 0.3s;
    }

        .btn:hover {
            background-color: #00635b !important;
        }

        .btn:active {
            background-color: #00524b !important;
        }
</style>

@model Website.Models.ResetPasswordModel

<div class="table">
    <div class="form">
        <h2>Reset Password</h2>
        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
        {
            @Html.Hidden("Token")
            <table>
                <tr>
                    <td>@Html.EditorFor(m => m.Email, new { htmlAttributes = new { placeholder = "School Email", @class = "roundedcorner" } })</td>
                </tr>
                <tr>
                    <td>@Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = "Password", @class = "roundedcorner" } })</td>
                </tr>
                <tr>
                    <td><br /><center><input type="submit" value="Reset Password" class="roundedcorner btn" /></center></td>
                </tr>
            </table>
        }
    </div>
</div>