body {
	margin: 0px;
}

html {
	scroll-behavior: smooth;
}

br {
	line-height: calc(.6vw + .6vh);
}

/*#region Navbar*/

.footer {
	bottom: 0;
	position: absolute;
	padding-top: 1.6vh;
	padding-bottom: 1.6vh;
	font-size: calc(16px + 6 * ((100vw - 340px) / 320));
}

.sticky {
	top: 0;
	position: fixed;
	padding-top: .8vh;
	padding-bottom: .8vh;
	font-size: calc(16px + 6 * ((100vw - 340px) / 350));
}

#Navbar {
	background-color: #02867b;
	width: 100%;
	height: auto;
	color: white;
	transition: .1s;
}

.navbar-grid-container {
	display: grid;
	width: 100%;
	height: inherit;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.page-redirect {
	transition: 0.25s;
	color: white !important;
}

	.page-redirect:hover {
		background-color: #006e65 !important;
		font-size: calc(16px + 6 * ((100vw - 200px) / 320));
	}

	.page-redirect:active {
		background-color: #005c54 !important;
	}

/*#endregion Navbar*/

/*#region Home*/

.home-bg {
	background-image: url('https://s3-ap-southeast-1.amazonaws.com/tv-prod/school/photo/49892-large.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*#endregion Home*/

/*#region Culture*/

@media screen and (max-width: 850px) {
	.culture-section {
		grid-template-columns: 1fr !important;
		grid-template-areas: "left" "left" "header" "content" "content" "content" "content" !important;
		width: 80vw !important;
	}

		.culture-section .culture-content {
			/* Center Text */
			align-items: end !important;
			/* End Center Text */
		}

		.culture-section .right {
			display: none;
		}
}

@media screen and (min-width: 851px) and (max-width: 1400px) {
	.culture-section {
		width: 85vw !important;
	}

	.culture-space {
		width: 85vw !important;
	}
}

.culture-section {
	margin: auto !important;
	width: 70vw;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-column-gap: 0.7vw;
	grid-auto-rows: calc(.7vh + 40px);
	grid-template-areas: ". header ." "left content right" "left content right" "left content right" "left content right" "left content right" ". content .";
}

	.culture-section .left {
		/* Grid Settings */
		grid-area: left;
		/* End Grid Settings */
	}

	.culture-section .culture-header {
		/* Grid Settings */
		grid-area: header;
		/* End Grid Settings */
		font-size: calc(16px + 6 * ((85vw - 320px) / 320));
		/* Center Text */
		display: flex;
		justify-content: center;
		align-items: center;
		/* End Center Text */
	}

	.culture-section .culture-content {
		/* Grid Settings */
		grid-area: content;
		/* End Grid Settings */
		font-size: calc(16px + 6 * ((20vw - 260px) / 320));
		/* Center Text */
		display: flex;
		justify-content: center;
		align-items: center;
		/* End Center Text */
	}

	.culture-section .right {
		/* Grid Settings */
		grid-area: right;
		/* End Grid Settings */
	}

	.culture-section .image {
		overflow: hidden;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

.culture-space {
	width: 70vw;
	height: 5vh;
	margin: auto;
	display: flex;
	justify-content: center;
}

	.culture-space .culture-space-color {
		width: 70%;
		height: 20%;
		background: #02867b;
	}

/*#endregion Culture*/

/*#region Events*/

@media screen and (max-width: 850px) {
	.event-card {
		width: 85vw !important;
		height: calc((1 / 4) * 85vw) !important;
	}

	.event-card:hover {
		width: 87vw !important;
		height: calc((1 / 4) * 87vw) !important;
	}
}

.events-header {
	font-size: calc(16px + 6 * ((120vw - 100px) / 320));
}

.event-card {
	width: 70vw;
	height: calc((1 / 4) * 70vw);
	font-size: calc(16px + 6 * ((50vw - 160px) / 240));
	margin: auto;
	transition: 0.2s;
}

	.event-card:hover {
		width: 72vw;
		height: calc((1 / 4) * 72vw);
	}

	.event-card .event-bg {
		width: inherit;
		height: inherit;
		overflow: hidden;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

/*#region Modal*/

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

/*#endregion Modal*/

/*#endregion Events*/

a {
	font-family: Modern;
}

	a:any-link {
		text-decoration: none;
		color: white;
	}

p {
	font-family: Modern;
}
