<head>
    <style>
        #navbar {
            background-color: #02867b;
            width: 100%;
            height: auto;
            font-family: Modern;
            font-size: calc(16px + 6 * ((100vw - 320px) / 320));
            color: white;
            padding-top: 2vh;
            padding-bottom: 2vh;
        }

        .navbar-grid-container {
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        .page-redirect {
            transition: .3s;
            text-decoration: none !important;
            color: white !important;
        }

            .page-redirect:hover {
                background-color: #006e65 !important;
            }

            .page-redirect:active {
                background-color: #005c54 !important;
            }

        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<div id="navbar">
    <div class="navbar-grid-container">
        <a href='/Home/Index' class="page-redirect">
            <div class="grid-item">
                <center>Home</center>
            </div>
        </a>
        <a href='/Home/Culture' class="page-redirect">
            <div class="grid-item">
                <center>Culture</center>
            </div>
        </a>
        <a href='/Home/Events' class="page-redirect">
            <div class="grid-item">
                <center>Events</center>
            </div>
        </a>
        <a href='/Home/System' class="page-redirect">
            <div class="grid-item">
                <center>System</center>
            </div>
        </a>
        <a href='/Home/Pioneers' class="page-redirect">
            <div class="grid-item">
                <center>Pioneers</center>
            </div>
        </a>
    </div>
</div>

@*@RenderBody()*@
