<head>
    <style>
        @@media screen and (min-width: 1281px) {
            #navbar {
                height: 70px !important;
            }
        }

        @@media screen and (max-width: 1280px) and (min-width:601px) {
            #navbar {
                height: 60px !important;
            }
        }

        @@media screen and (max-width: 600px) {
            #navbar {
                height: 50px !important;
            }
        }

        #navbar {
            background-color: #02867b;
            width: 100%;
        }

        #navbar .navbar-text {
            font-family: Modern;
            font-size: 26px;
            color: white;
        }

        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<div id="navbar">
    <table border="0" width="100%" height="100%">
        <tr>
            <td class="navbar-text">
                <center>Home</center>
            </td>
            <td class="navbar-text">
                <center>Culture</center>
            </td>
            <td class="navbar-text">
                <center>Events</center>
            </td>
            <td class="navbar-text">
                <center>System</center>
            </td>
            <td class="navbar-text">
                <center>Pioneers</center>
            </td>
        </tr>
    </table>
</div>
