<head>
    <style>
        #navbar {
            background-color: #02867b;
            width: 100%;
            height: auto;
            font-family: Modern;
            font-size: calc(16px + 6 * ((100vw - 340px) / 320));
            color: white;
            padding-top: 1.4vh;
            padding-bottom: 1.4vh;
        }

        .navbar-grid-container {
            display: grid;
            width: 100%;
            height: inherit;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        .page-redirect {
            transition: .3s;
            color: white !important;
        }

            .page-redirect:hover {
                background-color: #006e65 !important;
                font-size: calc(16px + 6 * ((100vw - 200px) / 320));
            }

            .page-redirect:active {
                background-color: #005c54 !important;
            }

        body {
            padding: 0;
            margin: 0;
        }

        a:link {
            text-decoration: none !important;
        }   
    </style>
</head>
<div id="navbar">
    <div class="navbar-grid-container">
        <div class="grid-item">
            <a href='#'>
                <div class="page-redirect">
                    <center>Home</center>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href='#Culture'>
                <div class="page-redirect">
                    <center>Culture</center>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href='#Events'>
                <div class="page-redirect">
                    <center>Events</center>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href='#Systems'>
                <div class="page-redirect">
                    <center>Systems</center>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href='#Pioneers'>
                <div class="page-redirect">
                    <center>Pioneers</center>
                </div>
            </a>
        </div>
    </div>
</div>
